.header{
    position: absolute;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: antiquewhite;

}

.header  ul {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}

.header li {
    margin-right: 16px;
    height: 24px;
    line-height: 24px;
}

.header li:hover {
     cursor: pointer;
     text-decoration: underline;
 }

.header a{
    text-decoration: none;
}

.body{
    position: absolute;
    padding: 0 20px;
    top: 60px;
}
